WorkDrive=P:\
WorkbenchWorkDrive=C:\Games\steamapps\common\DayZ Tools\Bin\Workbench\WorkDrive\
ModBuildDirectory=P:\Mods\
KeyDirectory=P:\Keys\
KeyName=BattleRoyale
GameDirectory=C:\Games\steamapps\common\DayZ\
ServerDirectory=C:\Games\steamapps\common\DayZServer\
WorkbenchDirectory=C:\Games\steamapps\common\DayZ Tools\Bin\Workbench\
ServerPassword=
SPMission=.\Missions\empty.ChernarusPlus
MPMission=.\MPMissions\empty.ChernarusPlus
ServerProfileDirectory=C:\Games\steamapps\common\DayZServer\ServerProfile\
ServerConfig=C:\Games\steamapps\common\DayZServer\ServerProfile\serverDZ.cfg
Port=2303
# Set to 1 to keep "storage_*" between server launches. Skips the cold Central Economy loot spawn,
# which is over half of boot time. Off by default - with storage kept, players rejoin their
# persisted character and vehicles stay where the last run left them.
KeepStorage=0
ClientEXE=DayZDiag_x64.exe
ServerEXE=DayZDiag_x64.exe
ServerLaunchParams=-adminlog -server "-newErrorsAreWarnings=1"
ClientLaunchParams=-adminlog "-newErrorsAreWarnings=1"
ClientProfileDirectory=F:\Temp\SClientAProfile\
ClientBProfileDirectory=F:\Temp\SClientBProfile\
ClientCProfileDirectory=F:\Temp\SClientCProfile\
PlayerName=Client_A
PlayerBName=Client_B
PlayerCName=Client_C
PlayerSteamID=76561198273176455
PlayerBSteamID=76561198363570604
PlayerCSteamID=76561199001453809
AdditionalMPMods=@Vigrid-BattleRoyale;@CF;@Community-Online-Tools;@Dabs Framework;@DayZ-Expansion;@DayZ-Expansion-Core;@DayZ-Expansion-Licensed;@DayZ-Expansion-Missions;@DayZ-Expansion-Navigation;@Vehicle3PP
AdditionalSPMods=@Vigrid-BattleRoyale;@CF;@Community-Online-Tools;@Dabs Framework;@DayZ-Expansion;@DayZ-Expansion-Core;@DayZ-Expansion-Licensed;@DayZ-Expansion-Missions;@DayZ-Expansion-Navigation;@Vehicle3PP
